* {

  font-family: "Poppins", sans-serif;
}

body {

  justify-content: first baseline;

  align-items: center;
  background: url('img/sai-i-lama-parallax-01.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  margin: 10px;
}

form {
  text-align: center;
}

h1 {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
  align-items: center;
  border: none;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
  width: 50%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;

}

input[type="checkbox"] {
  margin-right: 5px;
}

input[type="submit"] {
  padding: 10px 20px;
  background-color: #2706e3;
  color: white;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #8c7af5;
}

input[type="submit"]{
  border-radius: 5px;
}